{% extends 'base.html.twig' %}

{% block title %}Admin!{% endblock %}

{% block body %}
<main id="admin">
    <h1>Admin</h1>
    <nav id="navDash">
        <ul>
            <li><a id="allDash">Tout afficher</a></li>
            <li><a id="commentaireDash">Commentaire</a></li>
            <li><a id="userDash">User</a></li>
            <li><a id="contactDash">Contact</a></li>
        </ul>
	</nav>
        <div id="tableAdmin">
            <table id="tableCom" class="table dNone">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Commentaire</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for com in coms %}
                        <tr>
                            <td>{{com.name}}</td>
                            <td>{{com.commentaire}}</td>
                            <td>{{ include('admin/_delete_form.html.twig') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table id="tableUser" class="table dNone">
                <thead>
                    <tr>
                        <th>User pseudo</th>
                        <th>User mail</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{user.pseudo}}</td>
                            <td>{{user.email}}</td>
                            <td>{{ include('admin/_delete_form.html2.twig') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table id="tableContact" class="table dNone">
                <thead>
                    <tr>
                        <th>Contact Mail</th>
                        <th>Date</th>
                        <th>Demande</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{contact.email}}</td>
                            <td>{{contact.date|date('d')}},{{ contact.date|date('m')}},{{ contact.date|date('Y')}}</td>
                            <td class="tdDemande">{{contact.demande}}</td>
                            <td>{{ include('admin/_delete_form.html3.twig') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

</main> 
        
        
{% endblock %}

