{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block body %}
<main class="main">
    <article>
        <h3 class="evenementName">{{real.name}}</h3>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn evenementBtn" href="{{ path('app_evenement', {'id': real.id}) }}">Ajouter Photos<a>
        {% endif %}
        <div class="photoEvent">
            {% for evenement in evenements %}
                {% for photo in evenement.photos %}
                    <div class="photo-zoom">
                        <img src="{{ asset('photos_directory/' ~ photo) }}" alt="{{ real.name }}" class="lightbox-image" />
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="evenementCom">
            <h2>Vos commentaires</h2>
                {% for com in coms %}
                    <div class="coms">
                        <p>Ecrit par : {{com.name}}</p>
                        <p>{{com.commentaire}}</p>
                    </div>
                {% endfor %}
             {% if is_granted('ROLE_USER') %}
                <a class="btn" href="{{ path('app_commentaire', {'id': real.id}) }}">Ajouter Commentaire<a>
             {% endif %}    
        </div>
       
    </article>  
</main>

{% endblock %}
